#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
#wrapper.toggled {
    padding-left: 250px;
}
 
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
 
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Top Navbar Styles */
.navbar {
    background-color: #183647;
    border-color: #183647;
    padding: -15px;
    border-radius: 0px;
}
.navbar-brand {
  float: left;
  padding-top: 25px;
  padding-left: 10px;
  height: 50px;
  padding: 10px 0px;
  font-size: 25px;
  color: #ffffff;
  line-height: 20px;
}
.navbar-brandVersion {
  float: left;
  height: 50px;
  padding-left: 10px;
  padding: 10px 5px;
  font-size: 10px;
  color: #aabbdd;
  line-height: 5px;
}
.navbar-user {
  float: right;
  padding-top: 25px;
  padding-left: 10px;
  height: 50px;
  padding: 10px 0px;
  font-size: 25px;
  color: #ffffff;
  line-height: 20px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}

 
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
 
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



/*  panel  */ 

.panel-heading2 {
  color: #fff;
  background-color: #255b7a;
  border-color: #255b7a;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 10px;
  padding-left: 10px;
  padding: 10px 20px;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f2f7fb;
}

.btn-primary {
  color: #fff;
  background-color: #3c7596;
  border-color: #3c7596
}









.logox {
    font-size: 30px;
    color: #FFFFFF;
}

H1 {
    color: #315481;
}


body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #ffffff, #5091ca 200%);
  background-attachment: fixed;
  height: 100%;
  min-height: 600px;
}

header {
  background-color: #5091ca; 
  max-height: 50px;
}

.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}


.headingtext {
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 103%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}








.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;
  max-height: 200px;
  border: 3px;
  border-color: #315481;
  padding: 10px;
  background-color: #ffffff;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}

.cellBg {
    background: #5091ca;
    color: #fff;
}



/*correcting Fullcalendar HR dividing bar that lacks a defined witdth of 100% */
hr.fc-divider {
  height: 0;
  width: 100%;
  margin: 0;
  padding: 0 0 2px;
  /* height is unreliable across browsers, so use padding */
  border-width: 1px 0;
}

/*Correting Fullcandar "today's" Background color*/
.fc-unthemed .fc-today {
  background: #ffffff;
}





