/* Top Navbar Styles */
.navbar {
/*
    background-color: #183647;
    border-color: #183647;
*/
  
    border-radius: 0px;
    z-index: 1000;
    border: 1px;
}
.navbar-brand {
  float: left;
  padding-top: 25px;
  padding-left: 10px;
  height: 50px;
  padding: 10px 0px;
  font-size: 25px;
  color: #ffffff;
  line-height: 20px;
  z-index: 999;
}
.navbar-brandVersion {
  float: left;
  height: 50px;
  margin-left: -39px;
  margin-top: 33px;
  font-size: 10px;
  color: #aabbdd;
  line-height: 5px;
  z-index: 998;
}
.navbar-user {
  float: right;
  padding-top: 25px;
  padding-left: 10px;
  height: 50px;
  padding: 10px 0px;
  font-size: 25px;
  color: #ffffff;
  line-height: 20px;
  z-index: 997;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse {
  background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(73,162,189,1) 72%, rgba(188,224,238,1) 99%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(82%, rgba(73,162,189,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(73,162,189,1) 72%, rgba(188,224,238,1) 99%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(73,162,189,1) 72%, rgba(188,224,238,1) 99%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(73,162,189,1) 72%, rgba(188,224,238,1) 99%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(73,162,189,1) 72%, rgba(188,224,238,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#bce0ee', GradientType=0 );
height: 25px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #33405f30;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 15px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: -43px;
}
 
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgb(51, 51, 51);
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: rgb(51, 51, 51);
    background: rgba(252,165,241,.5);
    /*Regular gradients*/
    background: -webkit-linear-gradient(left, rgba(245,247,250,.15) 50%, rgba(181,255,255,.35));
    background: -moz-linear-gradient(left,  rgba(245,247,250,.15) 50%, rgba(181,255,255,.35));
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border: 1px solid #ccc; 
    border: 1px solid rgba(0, 0, 0, .15); 
    border-radius: 4px; 
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
 
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.dropdown-menu { 
    position: absolute; 
    top: 100%; 
    left: 0; 
    z-index: 1000; 
    display: none; 
    float: left; 
    min-width: 160px; 
    padding: 0px 0; 
    margin: 2px 0 0; 
    font-size: 14px; 
    text-align: left; 
    list-style: none; 

    /* Browser that dont support gradients*/
    background: rgba(252,165,241,.5);
    /*Regular gradients*/
    background: -webkit-linear-gradient(left, rgba(245,247,250,.15) 50%, rgba(181,255,255,.35));
    background: -moz-linear-gradient(left,  rgba(245,247,250,.15) 50%, rgba(181,255,255,.35));

    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border: 1px solid #ccc; 
    border: 1px solid rgba(0, 0, 0, .15); 
    border-radius: 4px; 
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
} 

.dropdown-menu > li > a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    white-space: nowrap;
    padding: 3px 20px;
}

.dropdown-menu > li > a:hover {
    text-decoration: none;
    color: rgb(51, 51, 51);
    background: rgba(252,165,241,.5);
    /*Regular gradients*/
    background: -webkit-linear-gradient(left, rgba(245,247,250,.15) 50%, rgba(181,255,255,.35));
    background: -moz-linear-gradient(left,  rgba(245,247,250,.15) 50%, rgba(181,255,255,.35));
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border: 1px solid #ccc; 
    border: 1px solid rgba(0, 0, 0, .15); 
    border-radius: 4px; 
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
}

.open > .dropdown-menu-leftside {
    display: block;
}

.dropdown-menu-leftside { 
    position: absolute; 
    top: 0%; 
    left: 0; 
    z-index: 1000; 
    display: none; 
    float: left; 
    min-width: 120px; 
    padding: 0px 0; 
    margin: 2px 0 0; 
    font-size: 14px; 
    text-align: left; 
    list-style: none; 

    /* Browser that dont support gradients*/
    background: rgba(252,165,241,.5);
    /*Regular gradients*/
    background: -webkit-linear-gradient(left, rgba(245,247,250,.15) 50%, rgba(181,255,255,.35));
    background: -moz-linear-gradient(left,  rgba(245,247,250,.15) 50%, rgba(181,255,255,.35));

    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border: 1px solid #ccc; 
    border: 1px solid rgba(0, 0, 0, .15); 
    border-radius: 4px; 
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
} 


.colortest {
    text-align: left;
    border: 1px solid powderblue;
    border-radius: 7px;
    padding: 1px 25px;
    margin: 10px 5px;
    /* Browser that dont support gradients*/
    background: rgba(245,247,250,.5);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}




.logox {
    font-size: 30px;
    color: #FFFFFF;
}



header { 
  max-height: 50px;
}

body {
/*
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #900000, #5091ca 150%);
  background-attachment: fixed;
  height: 100%;
  min-height: 600px;
*/

/* Below is Dev Environment CSS 

background: rgba(241,142,153,1);
background: -moz-linear-gradient(top, rgba(241,142,153,1) 0%, rgba(56,3,9,1) 18%, rgba(82,230,250,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,142,153,1)), color-stop(18%, rgba(56,3,9,1)), color-stop(100%, rgba(82,230,250,1)));
background: -webkit-linear-gradient(top, rgba(241,142,153,1) 0%, rgba(56,3,9,1) 18%, rgba(82,230,250,1) 100%);
background: -o-linear-gradient(top, rgba(241,142,153,1) 0%, rgba(56,3,9,1) 18%, rgba(82,230,250,1) 100%);
background: -ms-linear-gradient(top, rgba(241,142,153,1) 0%, rgba(56,3,9,1) 18%, rgba(82,230,250,1) 100%);
background: linear-gradient(to bottom, rgba(241,142,153,1) 0%, rgba(56,3,9,1) 18%, rgba(82,230,250,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18e99', endColorstr='#52e6fa', GradientType=0 );

*/

/* Below is Live Production CSS */

background: rgba(198,233,247,1);
background: -moz-linear-gradient(top, rgba(198,233,247,1) 0%, rgba(73,162,189,1) 82%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(198,233,247,1)), color-stop(82%, rgba(73,162,189,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(top, rgba(198,233,247,1) 0%, rgba(73,162,189,1) 82%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(top, rgba(198,233,247,1) 0%, rgba(73,162,189,1) 82%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(top, rgba(198,233,247,1) 0%, rgba(73,162,189,1) 82%, rgba(188,224,238,1) 100%);
background: linear-gradient(to bottom, rgba(198,233,247,1) 0%, rgba(73,162,189,1) 82%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e9f7', endColorstr='#bce0ee', GradientType=0 );



  font-family: sans-serif;
  height: 100%;
  min-height: 650px;
}


h1 {
    margin-left: 14px;
    color: #315481;
}

.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}


.headingtext {
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}


hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

/*correcting Fullcalendar HR dividing bar that lacks a defined witdth of 100% */
hr.fc-divider {
  height: 0;
  width: 100%;
  margin: 0;
  padding: 0 0 2px;
  /* height is unreliable across browsers, so use padding */
  border-width: 1px 0;
}

/*Correting Fullcandar "today's" Background color*/
.fc-unthemed .fc-today {
  background: #aliceblue;
}


table {
  
  background-color: aliceblue;


}



li.checked {
  color: #e6e6e6;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}






.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;
  max-height: 200px;
  border: 3px;
  border-color: #315481;
  padding: 10px;
  background-color: #ffffff;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}

.cellBg {
    background: #5091ca;
    color: #fff;
}



/*  panel  */ 

.panel-heading2 {
  color: #fff;
  background-color: #255b7a;
  border-color: #255b7a;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 10px;
  padding-left: 10px;
  padding: 10px 20px;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f2f7fb;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* Start of Inline submit button in input field */

.buttonwrapper { 
  overflow-y: scroll;
}

input{
  background-color: transparent;
  border: 2px solid black;
}

.submitbutton {
  float: right;
  border: none;
  background-color: ghostwhite;
}

/* End Inline submit button in input field */
.btn {
  margin-bottom: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #3c7596;
  border-color: #3c7596
}

.btn-secondary {
  border: 1px solid #cccccc;
  line-height: 1.42857143;
  margin-top: -2px;
  background-color: #fff
  
}


/* Basic control styles */
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

/* Hide default browser input */
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* Custom control */
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  /* Makes radio buttons circlular */
  border-radius: 50%;
}
/* Hover and focus */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
/* Checked */
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
  border-radius: 4px;
}
/* Hover when checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
/* Hide default browser input */
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  /*Hide check*/
  display: none;
}
.control input:checked ~ .control__indicator:after {
  /* Show check */
  display: block;
}
/* Checkbox tick */
.control--checkbox .control__indicator:after {
  left: 10px;
  top: 4px;
  width: 10px;
  height: 20px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
/* Radio button inner circle */
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
/* Disabled circle colour */ 
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}


/* RATE IT CSS OVERWRITE */ 

.rateit {
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  cursor: pointer;
} 

.rateit-range-2 {
  cursor: pointer;  
}

.rateit .rateit-selected {
  position: absolute;
  left: 0px;
  cursor: pointer;
}

.rateit .rateit-selected-rtl {
  cursor: pointer;
}

.rateit .rateit-range * {
  cursor: pointer;
}
