<template name="wakePage">
  <h1>Rise & Shine!</h1>


<!-- Start of whenWoke Card #1-->

<div class="panel-primary col-sm-6">
  <div class="panel-heading2" for="inputwhenWoke">
  When did you Wake Up?</div>

<div class="list-group">
      <ul class="list-group-item">
      {{> addwhenWokeItem}}
  <p></p>  
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsewhenWoke" aria-expanded="false" aria-controls="collapsewhenWoke">
          Waking Log
            </button>
      </p>
        <div class="collapse" id="collapsewhenWoke">
          <div class="list-group">
              <ul class="list-group-item">
              {{#each whenWokeEach}}
                {{> whenWokeItem}}
              {{/each}}
              </ul>
          </div>
        </div>  
      </ul>
  </div>
</div>


<!-- End of whenWoke card #1 -->

<!-- Start of outofBed Card #1-->


<div class="panel-primary col-sm-6">
  <div class="panel-heading2" for="inputoutofBed">
  Out of Bed</div>

<div class="list-group">
      <ul class="list-group-item">
      {{> addoutofBedItem}}
  <p></p>  
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseoutofBed" aria-expanded="false" aria-controls="collapseoutofBed">
          Out of Bed Log
            </button>
      </p>
        <div class="collapse" id="collapseoutofBed">
          <div class="list-group">
              <ul class="list-group-item">
              {{#each outofBedEach}}
                {{> outofBedItem}}
              {{/each}}
              </ul>
          </div>
        </div>  
      </ul>
  </div>
</div>


<!-- End of outofBed card #1 -->

{{> randoidasMenta}}

</template>












<!-- Start of Add whenWoke Item #2 -->

<template name="addwhenWokeItem">
  <form class="form-horizontal" id="dnwakeupSubmitter">
    <div class="Container">
    Woke Up:  
      <span>
        <input id="dnwakeuptime" class="form-control timepicker-precise" name="startTime" type="text">
      </span>
    </div>
    <div class="input-group">
      <span>
        <input type="text" class="form-control" placeholder="How was waking up?" name="howWakeitemName">
      </span>
      <span class="input-group-addon">
        <button id="submtPost" type="submit" class="btn-info glyphicon glyphicon-plus">
        </button>
      </span>
    </div>
  </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve whenWoke Item #3 -->
<template name="whenWokeItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{whenWokeitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-whenWokeitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve whenWoke Item #3 -->


<!-- Start of Add outofBed Item #2 -->

<template name="addoutofBedItem">
    <form class="form-horizontal" id="dnoutofBedSubmitter">
      <div class="Container">
      Out of Bed:  
        <span>
          <input id="dnoutofBedtime" class="form-control timepicker-precise" name="startTime" type="text">
        </span>
      </div>
      <div class="input-group">
        <span>
          <input type="text" class="form-control" placeholder="How was Getting Out of Bed?" name="howoutofBeditemName">
        </span>
        <span class="input-group-addon">
          <button id="submtPost" type="submit" class="btn-info glyphicon glyphicon-plus">
          </button>
        </span>
      </div>
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve outofBed Item #3 -->
<template name="outofBedItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{outofBeditemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-outofBeditem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve outofBed Item #3 -->





<template name="randoMidasMenta">
<div class="panel-primary col-sm-12">
  <div>
    <strong style="align: center;">
    10 Motivating Morning Rituals - Increase Productivity With These Morning Routines
    </strong>
  </div>
  <div class="list-group">
  <ul class="list-group-item">
    <li><strong>1) Make your Bed:</strong> 1 min & you'll feel accomplished</li>
    <li><strong>2) Drink 2 glasses of Water:</strong> Healthy, Clears up your mind, Pro Tip: add lemon. Gives energy boost, great for the immune system, helps loose weight, and freshens your breath.</li>
    <li><strong>3) Wish the Best for Others:</strong>First thougth I have everymorning is wish the best for others. Do this even for people you do not like. This will set a day of Love for everyone. And gives you a state of Kindness towards everything. It will improve your relationships and get you a great feeling about yourself. As well as remind you that the main goal is to make the world a better place. Takes only 20 seconds!</li>
    <li><strong>4) Wake Up Your Body:</strong> 1min break of Push ups/sit ups/ jumping jacks. ProTip: put on some Pump up Music and Dance for a while to change you mood into an alchemist.</li>
    <li><strong>5) Mediate for a While:</strong> Makes you stress less, worry less.</li>
    <li><strong>6) Set Your Intentions for the Day and Write Them Down:</strong> What do i want to accomplish Today? What are your Goals? What is the vision of your your Perfect run day.</li>
    <li><strong>7) Take a Cold Shower:</strong> Gives instant rush, you will be alert, takes you out of your comfort zone, and gives you strength in your will power, and is great for your immune system.</li>
    <li><strong>8) Write 3 Unedited Pages:</strong> Whatever comes to mind, keep writing until I have 3 pages. Helps with the creative life.</li>
    <li><strong>9) Walk around in Nature & Appreciate It:</strong> Taking a walk in nature brings me back to appreciate the beauty of it. Just relax. Do this just for a moment, is a moment for yourself. Nature will help you put life into perspective. Brings you peace and shows you the magnificence of life.</li>
    <li><strong>10) Name 5 Things Your Are Thankful For:</strong> It gives you a mood of appreciation, increases your happiness. I think of things I take for granted, thankful for my guests, thankful for being healthy, thankful for fresh air...</li>
  <br>
  <strong>Avoid:</strong> Coffee, Checking emails, cell phone, the news. All those have things you don't want to think about in your sacred morning.
  </ul>
</div>
</div>
</template>