<template name="hygienePage">
	<h1>My Hygiene</h1>



<!-- Start of shower Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputshower">
	Shower Time!</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addshowerItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseshower" aria-expanded="false" aria-controls="collapseshower">
    			Showers
  					</button>
			</p>
				<div class="collapse" id="collapseshower">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each showerEach}}
								{{> showerItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of shower card #1 -->

<!-- Start of bath Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputbath">
	Bath Time!</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addbathItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsebath" aria-expanded="false" aria-controls="collapsebath">
    			Baths
  					</button>
			</p>
				<div class="collapse" id="collapsebath">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each bathEach}}
								{{> bathItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of bath card #1 -->

<!-- Start of shave Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputshave">
	Shave</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addshaveItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseshave" aria-expanded="false" aria-controls="collapseshave">
    			Clean Shaven
  					</button>
			</p>
				<div class="collapse" id="collapseshave">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each shaveEach}}
								{{> shaveItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of shave card #1 -->

<!-- Start of nails Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputnails">
	Nails</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addnailsItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsenails" aria-expanded="false" aria-controls="collapsenails">
    			Nails Trimmed
  					</button>
			</p>
				<div class="collapse" id="collapsenails">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each nailsEach}}
								{{> nailsItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of nails card #1 -->

<!-- Start of hair Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputhair">
	Hair</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addhairItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsehair" aria-expanded="false" aria-controls="collapsehair">
    			Hair Cutz
  					</button>
			</p>
				<div class="collapse" id="collapsehair">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each hairEach}}
								{{> hairItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of hair card #1 -->

<!-- Start of haircondition Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputhaircondition">
	Hair Condition</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addhairconditionItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsehaircondition" aria-expanded="false" aria-controls="collapsehaircondition">
    			Hair States
  					</button>
			</p>
				<div class="collapse" id="collapsehaircondition">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each hairconditionEach}}
								{{> hairconditionItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of haircondition card #1 -->

<!-- Start of brushedteeth Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputbrushedteeth">
	Brushed Teeth</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addbrushedteethItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsebrushedteeth" aria-expanded="false" aria-controls="collapsebrushedteeth">
    			Brushed teeth
  					</button>
			</p>
				<div class="collapse" id="collapsebrushedteeth">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each brushedteethEach}}
								{{> brushedteethItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of brushedteeth card #1 -->

<!-- Start of flossed Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputflossed">
	Flossed</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addflossedItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseflossed" aria-expanded="false" aria-controls="collapseflossed">
    			Flossed
  					</button>
			</p>
				<div class="collapse" id="collapseflossed">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each flossedEach}}
								{{> flossedItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of flossed card #1 -->

<!-- Start of deoderant Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputdeoderant">
	Deoderant</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> adddeoderantItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsedeoderant" aria-expanded="false" aria-controls="collapsedeoderant">
    			Deoderant
  					</button>
			</p>
				<div class="collapse" id="collapsedeoderant">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each deoderantEach}}
								{{> deoderantItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of deoderant card #1 -->

<!-- Start of dressedlog Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputdressedlog">
	Dressed log</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> adddressedlogItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsedressedlog" aria-expanded="false" aria-controls="collapsedressedlog">
    			Dressed
  					</button>
			</p>
				<div class="collapse" id="collapsedressedlog">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each dressedlogEach}}
								{{> dressedlogItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of dressedlog card #1 -->

<!-- Start of improveHygienepage Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputimproveHygienepage">
	Improve the Hygiene page</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addimproveHygienepageItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseimproveHygienepage" aria-expanded="false" aria-controls="collapseimproveHygienepage">
    			Improvement Ideas
  					</button>
			</p>
				<div class="collapse" id="collapseimproveHygienepage">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each improveHygienepageEach}}
								{{> improveHygienepageItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of improveHygienepage card #1 -->


</template>















<!-- Start of Add shower Item #2 -->

<template name="addshowerItem">
    <form>
        Get Clean!:
        <input type="text" class="form-control" placeholder="Have you Showered Today?" name="showeritemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve shower Item #3 -->
<template name="showerItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{showeritemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-showeritem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve shower Item #3 -->

<!-- Start of Add bath Item #2 -->

<template name="addbathItem">
    <form>
        Bubble Bath Suds:
        <input type="text" class="form-control" placeholder="Did you take a Bath Today?" name="bathitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve bath Item #3 -->
<template name="bathItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{bathitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-bathitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve bath Item #3 -->

<!-- Start of Add shave Item #2 -->

<template name="addshaveItem">
    <form>
        Sharp Edges for your Face:
        <input type="text" class="form-control" placeholder="How's your beard?" name="shaveitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve shave Item #3 -->
<template name="shaveItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{shaveitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-shaveitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve shave Item #3 -->

<!-- Start of Add nails Item #2 -->

<template name="addnailsItem">
    <form>
        Nails:
        <input type="text" class="form-control" placeholder="Did you clip your nails?" name="nailsitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve nails Item #3 -->
<template name="nailsItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{nailsitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-nailsitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve nails Item #3 -->

<!-- Start of Add hair Item #2 -->

<template name="addhairItem">
    <form>
        Hair:
        <input type="text" class="form-control" placeholder="Did you get a hair cut?" name="hairitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve hair Item #3 -->
<template name="hairItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{hairitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-hairitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve hair Item #3 -->

<!-- Start of Add haircondition Item #2 -->

<template name="addhairconditionItem">
    <form>
        Hair State:
        <input type="text" class="form-control" placeholder="How's your hair looking Toay?" name="hairconditionitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve haircondition Item #3 -->
<template name="hairconditionItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{hairconditionitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-hairconditionitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve haircondition Item #3 -->

<!-- Start of Add brushedteeth Item #2 -->

<template name="addbrushedteethItem">
    <form>
        Brush Your Teeth:
        <input type="text" class="form-control" placeholder="Have you Brushed your Teeth Today?" name="brushedteethitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve brushedteeth Item #3 -->
<template name="brushedteethItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{brushedteethitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-brushedteethitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve brushedteeth Item #3 -->

<!-- Start of Add flossed Item #2 -->

<template name="addflossedItem">
    <form>
        Flossed:
        <input type="text" class="form-control" placeholder="Have you Flossed?" name="flosseditemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve flossed Item #3 -->
<template name="flossedItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{flosseditemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-flosseditem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve flossed Item #3 -->

<!-- Start of Add deoderant Item #2 -->

<template name="adddeoderantItem">
    <form>
        Deoderant:
        <input type="text" class="form-control" placeholder="Pewie Your Pits Needed It, yes/no?" name="deoderantitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve deoderant Item #3 -->
<template name="deoderantItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{deoderantitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-deoderantitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve deoderant Item #3 -->

<!-- Start of Add dressedlog Item #2 -->

<template name="adddressedlogItem">
    <form>
        Your Fashion Statements:
        <input type="text" class="form-control" placeholder="How's your ensemble Today?" name="dressedlogitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve dressedlog Item #3 -->
<template name="dressedlogItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{dressedlogitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-dressedlogitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve dressedlog Item #3 -->

<!-- Start of Add improveHygienepage Item #2 -->

<template name="addimproveHygienepageItem">
    <form>
        Improve Hygiene page:
        <input type="text" class="form-control" placeholder="What would make the Hygiene page better?" name="improveHygienepageitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve improveHygienepage Item #3 -->
<template name="improveHygienepageItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{improveHygienepageitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-improveHygienepageitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve improveHygienepage Item #3 -->

