<template name="categoriesPage">

  <div>
    {{> journalEntry}}
  </div>
  <p>
    <div id="myGroup" class="col-md-12 text-center">
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#sleep"><i class="icon-chevron-right"></i>Sleep</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#wake"><i class="icon-chevron-right"></i> Wake</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#agenda"><i class="icon-chevron-right"></i> Agenda</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#mind"><i class="icon-chevron-right"></i> Mind</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#hygiene"><i class="icon-chevron-right"></i> Hygiene</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#health"><i class="icon-chevron-right"></i> Health</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#food"><i class="icon-chevron-right"></i> Food</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#fit"><i class="icon-chevron-right"></i> Fit</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#time"><i class="icon-chevron-right"></i> Time</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#money"><i class="icon-chevron-right"></i> Money</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#spaces"><i class="icon-chevron-right"></i> Spaces & Places</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#things"><i class="icon-chevron-right"></i> Things</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#feng"><i class="icon-chevron-right"></i> Fengshui</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#people"><i class="icon-chevron-right"></i> People</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#love"><i class="icon-chevron-right"></i> Love</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#companion"><i class="icon-chevron-right"></i> Companion</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#society"><i class="icon-chevron-right"></i> Society</button>
        <button class="btn btn-primary dropdown" data-toggle="collapse" data-target="#spirit"><i class="icon-chevron-right"></i> Spirit</button>
        

<!-- Sleep -->
            <div class="collapse colortest" id="sleep">
              <h3><a href="/sleep">Sleep</a></h3>
              <!--- How did you sleep DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addhowUsleepItem}}
                      </div>
                    </div>
                  </form>

              <!--- Dream Diary DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddreamDiaryItem}}
                      </div>
                    </div>
                  </form>

              <!--- Nappers DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addnapItem}}
                      </div>
                    </div>
                  </form>

              <!--- Wake up Time DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addwentToBedItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Wake -->
            <div class="collapse colortest" id="wake">
              <h3><a href="/wake">Wake</a></h3>

              <!--- Wake up Time DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addwhenWokeItem}}
                      </div>
                    </div>
                  </form>

              <!--- Out of Bed Time DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addoutofBedItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Agenda -->
            <div class="collapse colortest" id="agenda">
              <h3><a href="/agenda">Agenda</a></h3>

              <!--- Future vision of self LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addvisionItem}}
                      </div>
                    </div>
                  </form>

              <!--- opportunity DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addopportunityItem}}
                      </div>
                    </div>
                  </form>

              <!--- mission DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addmissionItem}}
                      </div>
                    </div>
                  </form>

              <!--- goal DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addgoalItem}}
                      </div>
                    </div>
                  </form>

              <!--- strategy DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addstrategyItem}}
                      </div>
                    </div>
                  </form>

              <!--- todos DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addtodosItem}}
                      </div>
                    </div>
                  </form>

              <!--- accomplishments DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addaccomplishmentsItem}}
                      </div>
                    </div>
                  </form>

              <!--- successes DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsuccessesItem}}
                      </div>
                    </div>
                  </form>

              <!--- failure DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addfailureItem}}
                      </div>
                    </div>
                  </form>

              <!--- strengths DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addstrengthsItem}}
                      </div>
                    </div>
                  </form>

              <!--- weaknesses DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addweaknessesItem}}
                      </div>
                    </div>
                  </form>

              <!--- goodhabits DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addgoodhabitsItem}}
                      </div>
                    </div>
                  </form>

              <!--- badhabits DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addbadhabitsItem}}
                      </div>
                    </div>
                  </form>

              <!--- values DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addvaluesItem}}
                      </div>
                    </div>
                  </form>

              <!--- wants DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addwantsItem}}
                      </div>
                    </div>
                  </form>

              <!--- problems DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addproblemsItem}}
                      </div>
                    </div>
                  </form>

              <!--- career DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addcareerItem}}
                      </div>
                    </div>
                  </form>

              <!--- projects DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addprojectsItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveAgendapage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveAgendapageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Mind -->
            <div class="collapse colortest" id="mind">
              <h3><a href="/mind">Mind</a></h3>
              <!--- mood DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addmoodItem}}
                      </div>
                    </div>
                  </form>

              <!--- creativeartideas DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addcreativeartideasItem}}
                      </div>
                    </div>
                  </form>

              <!--- jokes DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addjokesItem}}
                      </div>
                    </div>
                  </form>

              <!--- invention DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addinventionItem}}
                      </div>
                    </div>
                  </form>

              <!--- entreprenuerialidea DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addentreprenuerialideaItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveMindpage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveMindpageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Hygiene -->
            <div class="collapse colortest" id="hygiene">
              <h3><a href="/hygiene">Hygiene</a></h3>

              <!--- shower DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addshowerItem}}
                      </div>
                    </div>
                  </form>

              <!--- bath DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addbathItem}}
                      </div>
                    </div>
                  </form>

              <!--- shave DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addshaveItem}}
                      </div>
                    </div>
                  </form>

              <!--- nails DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addnailsItem}}
                      </div>
                    </div>
                  </form>

              <!--- hair DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addhairItem}}
                      </div>
                    </div>
                  </form>

              <!--- haircondition DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addhairconditionItem}}
                      </div>
                    </div>
                  </form>

              <!--- brushedteeth DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addbrushedteethItem}}
                      </div>
                    </div>
                  </form>

              <!--- flossed DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addflossedItem}}
                      </div>
                    </div>
                  </form>

              <!--- deoderant DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddeoderantItem}}
                      </div>
                    </div>
                  </form>

              <!--- dressedlog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddressedlogItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveHygienepage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveHygienepageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Health -->
            <div class="collapse colortest" id="health">
              <h3><a href="/health">Health</a></h3>

              <!--- biostats DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addbiostatsItem}}
                      </div>
                    </div>
                  </form>

              <!--- familyMedhist DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addfamilyMedhistItem}}
                      </div>
                    </div>
                  </form>

              <!--- allergies DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addallergiesItem}}
                      </div>
                    </div>
                  </form>

              <!--- symptoms DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsymptomsItem}}
                      </div>
                    </div>
                  </form>

              <!--- bodyachelog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addbodyachelogItem}}
                      </div>
                    </div>
                  </form>

              <!--- sicklog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsicklogItem}}
                      </div>
                    </div>
                  </form>

              <!--- medhistory DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addmedhistoryItem}}
                      </div>
                    </div>
                  </form>

              <!--- medicine DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addmedicineItem}}
                      </div>
                    </div>
                  </form>

              <!--- dentallog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddentallogItem}}
                      </div>
                    </div>
                  </form>

              <!--- dentistryhist DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddentistryhistItem}}
                      </div>
                    </div>
                  </form>

              <!--- visionhist DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addvisionhistItem}}
                      </div>
                    </div>
                  </form>

              <!--- pooplog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpooplogItem}}
                      </div>
                    </div>
                  </form>

              <!--- peelog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpeelogItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveHealthpage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveHealthpageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Food -->
            <div class="collapse colortest" id="food">
              <h3><a href="/food">Food</a></h3>

              <!--- eathistory DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addeathistoryItem}}
                      </div>
                    </div>
                  </form>

              <!--- drinkhistory DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddrinkhistoryItem}}
                      </div>
                    </div>
                  </form>

              <!--- alcohollog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addalcohollogItem}}
                      </div>
                    </div>
                  </form>

              <!--- druglog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddruglogItem}}
                      </div>
                    </div>
                  </form>

              <!--- ingredientinventory DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addingredientinventoryItem}}
                      </div>
                    </div>
                  </form>

              <!--- shoppinglist DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addshoppinglistItem}}
                      </div>
                    </div>
                  </form>

              <!--- menu DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addmenuItem}}
                      </div>
                    </div>
                  </form>

              <!--- menuplan DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addmenuplanItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveFoodpage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveFoodpageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Fitness -->
            <div class="collapse colortest" id="fit">
              <h3><a href="/fit">Fit</a></h3>

              <!--- fitnesslog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addfitnesslogItem}}
                      </div>
                    </div>
                  </form>

              <!--- fitnessprogram DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addfitnessprogramItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveFitpage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveFitpageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Time -->
            <div class="collapse colortest" id="time">
                <h3><a href="/time/daynow">Time</a></h3>
              </div>

<!-- Money -->
            <div class="collapse colortest" id="money">
              <h3><a href="/money">Money</a></h3>

              <!--- networth DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addnetworthItem}}
                      </div>
                    </div>
                  </form>

              <!--- fireplan DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addfireplanItem}}
                      </div>
                    </div>
                  </form>

              <!--- earningsrate DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addearningsrateItem}}
                      </div>
                    </div>
                  </form>

              <!--- spendingrate DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addspendingrateItem}}
                      </div>
                    </div>
                  </form>

              <!--- assets DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addassetsItem}}
                      </div>
                    </div>
                  </form>

              <!--- borrowdebt DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addborrowdebtItem}}
                      </div>
                    </div>
                  </form>

              <!--- savingsrate DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsavingsrateItem}}
                      </div>
                    </div>
                  </form>

              <!--- runrate DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addrunrateItem}}
                      </div>
                    </div>
                  </form>

              <!--- debttoequity DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddebttoequityItem}}
                      </div>
                    </div>
                  </form>

              <!--- budget DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addbudgetItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveMoneypage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveMoneypageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Spaces & Places -->
            <div class="collapse colortest" id="spaces">
              <h3><a href="/place">Space | Place</a></h3>

              <!--- placesbeen DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addplacesbeenItem}}
                      </div>
                    </div>
                  </form>

              <!--- placeswant DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addplaceswantItem}}
                      </div>
                    </div>
                  </form>

              <!--- placesplanner DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addplacesplannerItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveSpacepage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveSpacepageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Things & Stuff -->
            <div class="collapse colortest" id="things">
              <h3><a href="/stuff">Stuff | Things</a></h3>

              <!--- stuffhave DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addstuffhaveItem}}
                      </div>
                    </div>
                  </form>

              <!--- stufflost DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addstufflostItem}}
                      </div>
                    </div>
                  </form>

              <!--- stufflent DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addstufflentItem}}
                      </div>
                    </div>
                  </form>

              <!--- stuffborrowed DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addstuffborrowedItem}}
                      </div>
                    </div>
                  </form>

              <!--- stuffwant DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addstuffwantItem}}
                      </div>
                    </div>
                  </form>

              <!--- stuffplanner DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addstuffplannerItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveStuffpage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveStuffpageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Fengshui -->
            <div class="collapse colortest" id="feng">
              <h3><a href="/feng">Fengshui</a></h3>

              <!--- choreslog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addchoreslogItem}}
                      </div>
                    </div>
                  </form>

              <!--- chorestodo DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addchorestodoItem}}
                      </div>
                    </div>
                  </form>

              <!--- homemess DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addhomemessItem}}
                      </div>
                    </div>
                  </form>

              <!--- hometightiness DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addhometightinessItem}}
                      </div>
                    </div>
                  </form>

              <!--- carmess DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addcarmessItem}}
                      </div>
                    </div>
                  </form>

              <!--- cartightiness DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addcartightinessItem}}
                      </div>
                    </div>
                  </form>

              <!--- workmess DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addworkmessItem}}
                      </div>
                    </div>
                  </form>

              <!--- workspacetightines DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addworkspacetightinessItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveFengpage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveFengpageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- People -->
            <div class="collapse colortest" id="people">
              <h3><a href="/people">People</a></h3>

              <!--- pplengagedwith DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpplengagedwithItem}}
                      </div>
                    </div>
                  </form>

              <!--- pplscontact DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpplscontactItem}}
                      </div>
                    </div>
                  </form>

              <!--- pplGiftideas DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpplGiftideasItem}}
                      </div>
                    </div>
                  </form>

              <!--- improvePeoplepage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimprovePeoplepageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Love -->
            <div class="collapse colortest" id="love">
              <h3><a href="/love">Love</a></h3>

              <!--- howSodoing DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addhowSodoingItem}}
                      </div>
                    </div>
                  </form>

              <!--- soLikes DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsoLikesItem}}
                      </div>
                    </div>
                  </form>

              <!--- soDislikes DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsoDislikesItem}}
                      </div>
                    </div>
                  </form>

              <!--- soWants DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsoWantsItem}}
                      </div>
                    </div>
                  </form>

              <!--- sogiftideas DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsogiftideasItem}}
                      </div>
                    </div>
                  </form>

              <!--- soArguementlog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsoArguementlogItem}}
                      </div>
                    </div>
                  </form>

              <!--- soPeriodlog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsoPeriodlogItem}}
                      </div>
                    </div>
                  </form>

              <!--- lovehist DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addlovehistItem}}
                      </div>
                    </div>
                  </form>

              <!--- dreamSo DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> adddreamSoItem}}
                      </div>
                    </div>
                  </form>

              <!--- sexhist DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addsexhistItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveLovepage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveLovepageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Companion -->
            <div class="collapse colortest" id="companion">
              <h3><a href="/pet">Companion</a></h3>

              <!--- petlog DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpetlogItem}}
                      </div>
                    </div>
                  </form>

              <!--- petbiometrics DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpetbiometricsItem}}
                      </div>
                    </div>
                  </form>

              <!--- petMedhist DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpetMedhistItem}}
                      </div>
                    </div>
                  </form>

              <!--- improvePetpage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimprovePetpageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- Society -->
            <div class="collapse colortest" id="society">
              <h3><a href="/society">Society</a></h3>

              <!--- govt DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addgovtItem}}
                      </div>
                    </div>
                  </form>

              <!--- policies DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addpoliciesItem}}
                      </div>
                    </div>
                  </form>

              <!--- vote DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addvoteItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveSocietypage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveSocietypageItem}}
                      </div>
                    </div>
                  </form>
              </div>

<!-- SPIRIT -->              
            <div class="collapse colortest" id="spirit">
              <h3><a href="/spirit">Spirit</a></h3>
              <!--- meditated LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal" id="dnmeditatedSubmitter">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addspiritItem}}
                      </div>
                    </div>
                  </form>

              <!--- mantras DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addmantrasItem}}
                      </div>
                    </div>
                  </form>

              <!--- improveSpiritpage DayNow LOGGER FORMS -->
                <p></p>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{> addimproveSpiritpageItem}}
                      </div>
                    </div>
                  </form>
              </div>
    </div>

  </p>
  <hr>

</template>
