<template name="calPage">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				
				{{> categoriesPage}}

				<div align="center"> Positive Affirmation Rando Widget Here </div>
				<hr>
				{{> timesifter}}
			</div>
			<div class="col-md-12 col-sm-12">
				{{> calendarView eventClick=myEventClick}}
			</div> 
		</div>
	</div>


	<div class="container">
		<div class="row">	
			<div class="col-md-12 col-sm-12">
                <h3>Events App <a href="#" id="add-Event" class="create btn btn-secondary pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a></h3>

                <ul class="list-group">
   
                        {{#each event}}
                            {{> eventList}}
                        {{/each}}
                 
                </ul>
            </div>
		</div>
	</div>
    {{> createEvent}}
    {{> updateModal}}

</template>

