<template name="stuffPage">
	<h1>Stuff & Things</h1>



<!-- Start of stuffhave Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputstuffhave">
	Inventory</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addstuffhaveItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsestuffhave" aria-expanded="false" aria-controls="collapsestuffhave">
    			Inventory 
  					</button>
			</p>
				<div class="collapse" id="collapsestuffhave">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each stuffhaveEach}}
								{{> stuffhaveItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of stuffhave card #1 -->

<!-- Start of stufflost Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputstufflost">
	Stuff Lost</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addstufflostItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsestufflost" aria-expanded="false" aria-controls="collapsestufflost">
    			Stuff Lost 
  					</button>
			</p>
				<div class="collapse" id="collapsestufflost">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each stufflostEach}}
								{{> stufflostItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of stufflost card #1 -->

<!-- Start of stufflent Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputstufflent">
	Stuff Lent</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addstufflentItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsestufflent" aria-expanded="false" aria-controls="collapsestufflent">
    			Stuff Lent 
  					</button>
			</p>
				<div class="collapse" id="collapsestufflent">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each stufflentEach}}
								{{> stufflentItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of stufflent card #1 -->

<!-- Start of stuffborrowed Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputstuffborrowed">
	Stuff Borrowed</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addstuffborrowedItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsestuffborrowed" aria-expanded="false" aria-controls="collapsestuffborrowed">
    			Stuff Borrowed 
  					</button>
			</p>
				<div class="collapse" id="collapsestuffborrowed">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each stuffborrowedEach}}
								{{> stuffborrowedItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of stuffborrowed card #1 -->

<!-- Start of stuffwant Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputstuffwant">
	Stuff You Want</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addstuffwantItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsestuffwant" aria-expanded="false" aria-controls="collapsestuffwant">
    			Stuff You Want 
  					</button>
			</p>
				<div class="collapse" id="collapsestuffwant">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each stuffwantEach}}
								{{> stuffwantItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of stuffwant card #1 -->

<!-- Start of stuffplanner Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputstuffplanner">
	Stuff Planner</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addstuffplannerItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsestuffplanner" aria-expanded="false" aria-controls="collapsestuffplanner">
    			Stuff Planner 
  					</button>
			</p>
				<div class="collapse" id="collapsestuffplanner">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each stuffplannerEach}}
								{{> stuffplannerItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of stuffplanner card #1 -->

<!-- Start of improveStuffpage Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputimproveStuffpage">
	Improve Stuff Page</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addimproveStuffpageItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseimproveStuffpage" aria-expanded="false" aria-controls="collapseimproveStuffpage">
    			Improve Stuff Page 
  					</button>
			</p>
				<div class="collapse" id="collapseimproveStuffpage">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each improveStuffpageEach}}
								{{> improveStuffpageItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of improveStuffpage card #1 -->


</template>









<!-- Start of Add stuffhave Item #2 -->

<template name="addstuffhaveItem">
    <form>
        Inventory List:
        <input type="text" class="form-control" placeholder="What do you have?" name="stuffhaveitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve stuffhave Item #3 -->
<template name="stuffhaveItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{stuffhaveitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-stuffhaveitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve stuffhave Item #3 -->

<!-- Start of Add stufflost Item #2 -->

<template name="addstufflostItem">
    <form>
        Stuff Lost:
        <input type="text" class="form-control" placeholder="What have you lost?" name="stufflostitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve stufflost Item #3 -->
<template name="stufflostItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{stufflostitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-stufflostitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve stufflost Item #3 -->

<!-- Start of Add stufflent Item #2 -->

<template name="addstufflentItem">
    <form>
        Stuff You Lent:
        <input type="text" class="form-control" placeholder="What stuff have you lent out?" name="stufflentitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve stufflent Item #3 -->
<template name="stufflentItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{stufflentitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-stufflentitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve stufflent Item #3 -->

<!-- Start of Add stuffborrowed Item #2 -->

<template name="addstuffborrowedItem">
    <form>
        Borrowed Stuff:
        <input type="text" class="form-control" placeholder="What have you borrowed?" name="stuffborroweditemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve stuffborrowed Item #3 -->
<template name="stuffborrowedItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{stuffborroweditemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-stuffborroweditem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve stuffborrowed Item #3 -->

<!-- Start of Add stuffwant Item #2 -->

<template name="addstuffwantItem">
    <form>
        For your birthday, X-mas, oneday you'll buy:
        <input type="text" class="form-control" placeholder="What stuff do you want?" name="stuffwantitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve stuffwant Item #3 -->
<template name="stuffwantItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{stuffwantitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-stuffwantitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve stuffwant Item #3 -->

<!-- Start of Add stuffplanner Item #2 -->

<template name="addstuffplannerItem">
    <form>
        Stuff Planner:
        <input type="text" class="form-control" placeholder="How do you plan on getting that thing?" name="stuffplanneritemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve stuffplanner Item #3 -->
<template name="stuffplannerItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{stuffplanneritemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-stuffplanneritem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve stuffplanner Item #3 -->

<!-- Start of Add improveStuffpage Item #2 -->

<template name="addimproveStuffpageItem">
    <form>
        Improve Stuff Page:
        <input type="text" class="form-control" placeholder="How can we improve the Stuff page?" name="improveStuffpageitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve improveStuffpage Item #3 -->
<template name="improveStuffpageItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{improveStuffpageitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-improveStuffpageitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve improveStuffpage Item #3 -->


