<template name="mainNav">
     <nav class="navbar navbar-inverse " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">Life.is</a><a class="navbar-brandVersion" href="/">v0.1.075</a>
                
            </div>
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" align="center">
                    <li><a href="/">Journal</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboards<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/">Inputter</a></li>
                    <li><a href="/gyst">Gyst Dashboard</a></li>
                </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dev/Admin<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/about">About LOS</a></li>
                    <li><a href="/devNotes">Dev Notes</a></li>
                </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav"> 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                <ul class="dropdown-menu"> 
                    <li><a href="/profile">Account</a></li>
                    <li>
                        <a>
                            {{#if currentUser}}
                    
                                <button type="button" class="btn btn-default btn-xs"> <a href="#" class="logout">Sign Out</a> </button>
                
                            {{else}}
                            {{/if}}
                        </a>
                    </li>
                </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 
    
</template>