<template name="agendaPage">
	<h1>My Agenda</h1>

<!-- Cards -->

<!-- Vision Card -->

<div class="panel-primary col-sm-12">
	<div class="panel-heading2" for="inputVision">
	Future Vision</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addvisionItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseVision" aria-expanded="false" aria-controls="collapseVision">
    			Future Vision
  					</button>
			</p>
				<div class="collapse" id="collapseVision">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each visionEach}}
								{{> visionItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>
<!-- end of Vision card -->

<!-- Start of opportunity Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputopportunity">
	Opportunity</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addopportunityItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseopportunity" aria-expanded="false" aria-controls="collapseopportunity">
    			Opportunities
  					</button>
			</p>
				<div class="collapse" id="collapseopportunity">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each opportunityEach}}
								{{> opportunityItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of opportunity card #1 -->

<!-- Start of mission Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputmission">
	Mission</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addmissionItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsemission" aria-expanded="false" aria-controls="collapsemission">
    			Your Conquest
  					</button>
			</p>
				<div class="collapse" id="collapsemission">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each missionEach}}
								{{> missionItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of mission card #1 -->

<!-- Start of goal Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputgoal">
	Goals</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addgoalItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsegoal" aria-expanded="false" aria-controls="collapsegoal">
    			Your Goals
  					</button>
			</p>
				<div class="collapse" id="collapsegoal">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each goalEach}}
								{{> goalItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of goal card #1 -->

<!-- Start of strategy Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputstrategy">
	Strategy</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addstrategyItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsestrategy" aria-expanded="false" aria-controls="collapsestrategy">
    			Your Tactics
  					</button>
			</p>
				<div class="collapse" id="collapsestrategy">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each strategyEach}}
								{{> strategyItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of strategy card #1 -->

<!-- Start of todos Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputtodos">
	To Do</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addtodosItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsetodos" aria-expanded="false" aria-controls="collapsetodos">
    			To Do list
  					</button>
			</p>
				<div class="collapse" id="collapsetodos">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each todosEach}}
								{{> todosItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of todos card #1 -->

<!-- Start of accomplishments Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputaccomplishments">
	Accomplishments</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addaccomplishmentsItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseaccomplishments" aria-expanded="false" aria-controls="collapseaccomplishments">
    			Achieved
  					</button>
			</p>
				<div class="collapse" id="collapseaccomplishments">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each accomplishmentsEach}}
								{{> accomplishmentsItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of accomplishments card #1 -->

<!-- Start of successes Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputsuccesses">
	Successes</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addsuccessesItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsesuccesses" aria-expanded="false" aria-controls="collapsesuccesses">
    			Your Successes
  					</button>
			</p>
				<div class="collapse" id="collapsesuccesses">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each successesEach}}
								{{> successesItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of successes card #1 -->

<!-- Start of failure Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputfailure">
	Failures</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addfailureItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsefailure" aria-expanded="false" aria-controls="collapsefailure">
    			Lessons Learned
  					</button>
			</p>
				<div class="collapse" id="collapsefailure">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each failureEach}}
								{{> failureItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of failure card #1 -->

<!-- Start of strengths Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputstrengths">
	Your Strengths</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addstrengthsItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsestrengths" aria-expanded="false" aria-controls="collapsestrengths">
    			Skills
  					</button>
			</p>
				<div class="collapse" id="collapsestrengths">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each strengthsEach}}
								{{> strengthsItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of strengths card #1 -->

<!-- Start of weaknesses Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputweaknesses">
	Weaknesses</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addweaknessesItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseweaknesses" aria-expanded="false" aria-controls="collapseweaknesses">
    			Weaknesses
  					</button>
			</p>
				<div class="collapse" id="collapseweaknesses">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each weaknessesEach}}
								{{> weaknessesItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of weaknesses card #1 -->

<!-- Start of goodhabits Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputgoodhabits">
	Good Habits</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addgoodhabitsItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsegoodhabits" aria-expanded="false" aria-controls="collapsegoodhabits">
    			Good Habits
  					</button>
			</p>
				<div class="collapse" id="collapsegoodhabits">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each goodhabitsEach}}
								{{> goodhabitsItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of goodhabits card #1 -->

<!-- Start of badhabits Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputbadhabits">
	Bad Habits</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addbadhabitsItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsebadhabits" aria-expanded="false" aria-controls="collapsebadhabits">
    			Bad habits
  					</button>
			</p>
				<div class="collapse" id="collapsebadhabits">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each badhabitsEach}}
								{{> badhabitsItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of badhabits card #1 -->

<!-- Start of values Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputvalues">
	Values</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addvaluesItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsevalues" aria-expanded="false" aria-controls="collapsevalues">
    			Values Card
  					</button>
			</p>
				<div class="collapse" id="collapsevalues">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each valuesEach}}
								{{> valuesItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of values card #1 -->

<!-- Start of wants Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputwants">
	Wants</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addwantsItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsewants" aria-expanded="false" aria-controls="collapsewants">
    			Your Desires
  					</button>
			</p>
				<div class="collapse" id="collapsewants">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each wantsEach}}
								{{> wantsItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of wants card #1 -->

<!-- Start of problems Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputproblems">
	Problems</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addproblemsItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseproblems" aria-expanded="false" aria-controls="collapseproblems">
    			Problems in Life
  					</button>
			</p>
				<div class="collapse" id="collapseproblems">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each problemsEach}}
								{{> problemsItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of problems card #1 -->

<!-- Start of career Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputcareer">
	Career</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addcareerItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsecareer" aria-expanded="false" aria-controls="collapsecareer">
    			Career
  					</button>
			</p>
				<div class="collapse" id="collapsecareer">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each careerEach}}
								{{> careerItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of career card #1 -->

<!-- Start of projects Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputprojects">
	Projects</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addprojectsItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseprojects" aria-expanded="false" aria-controls="collapseprojects">
    			Projects
  					</button>
			</p>
				<div class="collapse" id="collapseprojects">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each projectsEach}}
								{{> projectsItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of projects card #1 -->

<!-- Start of improveAgendapage Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputimproveAgendapage">
	Improve this Agenda Page</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addimproveAgendapageItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseimproveAgendapage" aria-expanded="false" aria-controls="collapseimproveAgendapage">
    			Improvements
  					</button>
			</p>
				<div class="collapse" id="collapseimproveAgendapage">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each improveAgendapageEach}}
								{{> improveAgendapageItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of improveAgendapage card #1 -->




</template>






<!-- Templates --> 	



<!-- Start of Add vision Item #2 -->

<template name="addvisionItem">
    <form>
        Who will you be & how will the world become:
        <input type="text" class="form-control" placeholder="How Do You Envision Your Life and the World To Be?" name="visionitemName">
    </form>
</template>

<!-- End of Add vision Item #2 -->

<!-- Start of Retrieve vision Item #3 -->
<template name="visionItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{visionitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-visionitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve vision Item #3 -->
<!-- Start of Add opportunity Item #2 -->

<template name="addopportunityItem">
    <form>
        Life has presented:
        <input type="text" class="form-control" placeholder="What opportunities are present?" name="opportunityitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve opportunity Item #3 -->
<template name="opportunityItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{opportunityitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-opportunityitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve opportunity Item #3 -->

<!-- Start of Add mission Item #2 -->

<template name="addmissionItem">
    <form>
        What are you dedicated to make:
        <input type="text" class="form-control" placeholder="What is your mission statement?" name="missionitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve mission Item #3 -->
<template name="missionItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{missionitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-missionitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve mission Item #3 -->

<!-- Start of Add goal Item #2 -->

<template name="addgoalItem">
    <form>
        You want this:
        <input type="text" class="form-control" placeholder="What are your goals?" name="goalitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve goal Item #3 -->
<template name="goalItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{goalitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-goalitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve goal Item #3 -->

<!-- Start of Add strategy Item #2 -->

<template name="addstrategyItem">
    <form>
        Conquest:
        <input type="text" class="form-control" placeholder="Sir, Master Strategy is :" name="strategyitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve strategy Item #3 -->
<template name="strategyItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{strategyitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-strategyitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve strategy Item #3 -->

<!-- Start of Add todos Item #2 -->

<template name="addtodosItem">
    <form>
        What gotsa be done?:
        <input type="text" class="form-control" placeholder="What do you got to do?" name="todositemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve todos Item #3 -->
<template name="todosItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{todositemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-todositem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve todos Item #3 -->

<!-- Start of Add accomplishments Item #2 -->

<template name="addaccomplishmentsItem">
    <form>
        Accomplishments:
        <input type="text" class="form-control" placeholder="Your Achievements Are:" name="accomplishmentsitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve accomplishments Item #3 -->
<template name="accomplishmentsItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{accomplishmentsitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-accomplishmentsitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve accomplishments Item #3 -->

<!-- Start of Add successes Item #2 -->

<template name="addsuccessesItem">
    <form>
        successes:
        <input type="text" class="form-control" placeholder="What are your successes?" name="successesitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve successes Item #3 -->
<template name="successesItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{successesitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-successesitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve successes Item #3 -->

<!-- Start of Add failure Item #2 -->

<template name="addfailureItem">
    <form>
        failure:
        <input type="text" class="form-control" placeholder="What are your failures?" name="failureitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve failure Item #3 -->
<template name="failureItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{failureitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-failureitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve failure Item #3 -->

<!-- Start of Add strengths Item #2 -->

<template name="addstrengthsItem">
    <form>
        Strengths:
        <input type="text" class="form-control" placeholder="What are your strengths?" name="strengthsitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve strengths Item #3 -->
<template name="strengthsItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{strengthsitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-strengthsitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve strengths Item #3 -->

<!-- Start of Add weaknesses Item #2 -->

<template name="addweaknessesItem">
    <form>
        Weaknesses:
        <input type="text" class="form-control" placeholder="What are your weaknesses?" name="weaknessesitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve weaknesses Item #3 -->
<template name="weaknessesItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{weaknessesitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-weaknessesitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve weaknesses Item #3 -->

<!-- Start of Add goodhabits Item #2 -->

<template name="addgoodhabitsItem">
    <form>
        Good Habits to grow stronger:
        <input type="text" class="form-control" placeholder="What are your good habits?" name="goodhabitsitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve goodhabits Item #3 -->
<template name="goodhabitsItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{goodhabitsitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-goodhabitsitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve goodhabits Item #3 -->

<!-- Start of Add badhabits Item #2 -->

<template name="addbadhabitsItem">
    <form>
        bad habits to minimalize:
        <input type="text" class="form-control" placeholder="What are your bad habits? " name="badhabitsitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve badhabits Item #3 -->
<template name="badhabitsItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{badhabitsitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-badhabitsitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve badhabits Item #3 -->

<!-- Start of Add values Item #2 -->

<template name="addvaluesItem">
    <form>
        values:
        <input type="text" class="form-control" placeholder="What do you value?" name="valuesitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve values Item #3 -->
<template name="valuesItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{valuesitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-valuesitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve values Item #3 -->

<!-- Start of Add wants Item #2 -->

<template name="addwantsItem">
    <form>
        Your wants in life:
        <input type="text" class="form-control" placeholder="What do you want?" name="wantsitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve wants Item #3 -->
<template name="wantsItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{wantsitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-wantsitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve wants Item #3 -->

<!-- Start of Add problems Item #2 -->

<template name="addproblemsItem">
    <form>
        Problems:
        <input type="text" class="form-control" placeholder="What problems do you face?" name="problemsitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve problems Item #3 -->
<template name="problemsItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{problemsitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-problemsitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve problems Item #3 -->

<!-- Start of Add career Item #2 -->

<template name="addcareerItem">
    <form>
        Career Leads:
        <input type="text" class="form-control" placeholder="What leads do you have to further advance your career?" name="careeritemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve career Item #3 -->
<template name="careerItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{careeritemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-careeritem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve career Item #3 -->

<!-- Start of Add projects Item #2 -->

<template name="addprojectsItem">
    <form>
        Projects your working on:
        <input type="text" class="form-control" placeholder="What projects do you have going on?" name="projectsitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve projects Item #3 -->
<template name="projectsItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{projectsitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-projectsitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve projects Item #3 -->

<!-- Start of Add improveAgendapage Item #2 -->

<template name="addimproveAgendapageItem">
    <form>
        Ideas to Improve the Agenda Page:
        <input type="text" class="form-control" placeholder="What ideas do you have to improve Agenda page" name="improveAgendapageitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve improveAgendapage Item #3 -->
<template name="improveAgendapageItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{improveAgendapageitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-improveAgendapageitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve improveAgendapage Item #3 -->



