<template name="wakePage">
  <h1>Rise & Shine!</h1>


<!-- Start of whenWoke Card #1-->

<div class="panel-primary col-sm-6">
  <div class="panel-heading2" for="inputwhenWoke">
  When did you Wake Up?</div>

<div class="list-group">
      <ul class="list-group-item">
      {{> addwhenWokeItem}}
  <p></p>  
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsewhenWoke" aria-expanded="false" aria-controls="collapsewhenWoke">
          Waking Log
            </button>
      </p>
        <div class="collapse" id="collapsewhenWoke">
          <div class="list-group">
              <ul class="list-group-item">
              {{#each whenWokeEach}}
                {{> whenWokeItem}}
              {{/each}}
              </ul>
          </div>
        </div>  
      </ul>
  </div>
</div>


<!-- End of whenWoke card #1 -->

<!-- Start of outofBed Card #1-->


<div class="panel-primary col-sm-6">
  <div class="panel-heading2" for="inputoutofBed">
  Out of Bed</div>

<div class="list-group">
      <ul class="list-group-item">
      {{> addoutofBedItem}}
  <p></p>  
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseoutofBed" aria-expanded="false" aria-controls="collapseoutofBed">
          Out of Bed Log
            </button>
      </p>
        <div class="collapse" id="collapseoutofBed">
          <div class="list-group">
              <ul class="list-group-item">
              {{#each outofBedEach}}
                {{> outofBedItem}}
              {{/each}}
              </ul>
          </div>
        </div>  
      </ul>
  </div>
</div>


<!-- End of outofBed card #1 -->

</template>












<!-- Start of Add whenWoke Item #2 -->

<template name="addwhenWokeItem">
  <form class="form-horizontal" id="dnwakeupSubmitter">
    <div class="Container">
    Woke Up:  
      <span>
        <input id="dnwakeuptime" class="form-control timepicker-precise" name="startTime" type="text">
      </span>
    </div>
    <div class="input-group">
      <span>
        <input type="text" class="form-control" placeholder="How was waking up?" name="howWakeitemName">
      </span>
      <span class="input-group-addon">
        <button id="submtPost" type="submit" class="btn-info glyphicon glyphicon-plus">
        </button>
      </span>
    </div>
  </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve whenWoke Item #3 -->
<template name="whenWokeItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{whenWokeitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-whenWokeitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve whenWoke Item #3 -->


<!-- Start of Add outofBed Item #2 -->

<template name="addoutofBedItem">
    <form class="form-horizontal" id="dnoutofBedSubmitter">
      <div class="Container">
      Out of Bed:  
        <span>
          <input id="dnoutofBedtime" class="form-control timepicker-precise" name="startTime" type="text">
        </span>
      </div>
      <div class="input-group">
        <span>
          <input type="text" class="form-control" placeholder="How was Getting Out of Bed?" name="howoutofBeditemName">
        </span>
        <span class="input-group-addon">
          <button id="submtPost" type="submit" class="btn-info glyphicon glyphicon-plus">
          </button>
        </span>
      </div>
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve outofBed Item #3 -->
<template name="outofBedItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{outofBeditemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-outofBeditem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve outofBed Item #3 -->













