<template name="foodPage">
	<h1>Food & Diet</h1>

<!-- Start of eathistory Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputeathistory">
	Eat Log</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addeathistoryItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseeathistory" aria-expanded="false" aria-controls="collapseeathistory">
    			Eat Log
  					</button>
			</p>
				<div class="collapse" id="collapseeathistory">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each eathistoryEach}}
								{{> eathistoryItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of eathistory card #1 -->

<!-- Start of drinkhistory Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputdrinkhistory">
	Drink History</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> adddrinkhistoryItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsedrinkhistory" aria-expanded="false" aria-controls="collapsedrinkhistory">
    			Drink history
  					</button>
			</p>
				<div class="collapse" id="collapsedrinkhistory">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each drinkhistoryEach}}
								{{> drinkhistoryItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of drinkhistory card #1 -->

<!-- Start of alcohollog Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputalcohollog">
	Alcohol Log</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addalcohollogItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsealcohollog" aria-expanded="false" aria-controls="collapsealcohollog">
    			Alcohol Log
  					</button>
			</p>
				<div class="collapse" id="collapsealcohollog">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each alcohollogEach}}
								{{> alcohollogItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of alcohollog card #1 -->

<!-- Start of druglog Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputdruglog">
	Drug Log</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> adddruglogItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsedruglog" aria-expanded="false" aria-controls="collapsedruglog">
    			Drug Log
  					</button>
			</p>
				<div class="collapse" id="collapsedruglog">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each druglogEach}}
								{{> druglogItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of druglog card #1 -->

<!-- Start of ingredientinventory Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputingredientinventory">
	Ingredient Inventory</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addingredientinventoryItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseingredientinventory" aria-expanded="false" aria-controls="collapseingredientinventory">
    			Ingredient Inventory
  					</button>
			</p>
				<div class="collapse" id="collapseingredientinventory">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each ingredientinventoryEach}}
								{{> ingredientinventoryItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of ingredientinventory card #1 -->

<!-- Start of shoppinglist Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputshoppinglist">
	Shopping List</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addshoppinglistItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseshoppinglist" aria-expanded="false" aria-controls="collapseshoppinglist">
    			Shopping List
  					</button>
			</p>
				<div class="collapse" id="collapseshoppinglist">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each shoppinglistEach}}
								{{> shoppinglistItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of shoppinglist card #1 -->

<!-- Start of menu Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputmenu">
	Menu</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addmenuItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false" aria-controls="collapsemenu">
    			Menu
  					</button>
			</p>
				<div class="collapse" id="collapsemenu">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each menuEach}}
								{{> menuItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of menu card #1 -->

<!-- Start of menuplan Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputmenuplan">
	Menu Plan</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addmenuplanItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsemenuplan" aria-expanded="false" aria-controls="collapsemenuplan">
    			Menu Plan
  					</button>
			</p>
				<div class="collapse" id="collapsemenuplan">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each menuplanEach}}
								{{> menuplanItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of menuplan card #1 -->

<!-- Start of improveFoodpage Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputimproveFoodpage">
	Improve the Food Page</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addimproveFoodpageItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseimproveFoodpage" aria-expanded="false" aria-controls="collapseimproveFoodpage">
    			Improve Food Page
  					</button>
			</p>
				<div class="collapse" id="collapseimproveFoodpage">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each improveFoodpageEach}}
								{{> improveFoodpageItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of improveFoodpage card #1 -->


</template>















<!-- Start of Add eathistory Item #2 -->

<template name="addeathistoryItem">
    <form>
        Eat Log:
        <input type="text" class="form-control" placeholder="What did you eat Today?" name="eathistoryitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve eathistory Item #3 -->
<template name="eathistoryItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{eathistoryitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-eathistoryitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve eathistory Item #3 -->

<!-- Start of Add drinkhistory Item #2 -->

<template name="adddrinkhistoryItem">
    <form>
        Non-Alcoholic Drink history:
        <input type="text" class="form-control" placeholder="What did you drink today? (non-alcoholic)" name="drinkhistoryitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve drinkhistory Item #3 -->
<template name="drinkhistoryItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{drinkhistoryitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-drinkhistoryitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve drinkhistory Item #3 -->

<!-- Start of Add alcohollog Item #2 -->

<template name="addalcohollogItem">
    <form>
        Alcohol log:
        <input type="text" class="form-control" placeholder="What have you had to drink?" name="alcohollogitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve alcohollog Item #3 -->
<template name="alcohollogItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{alcohollogitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-alcohollogitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve alcohollog Item #3 -->

<!-- Start of Add druglog Item #2 -->

<template name="adddruglogItem">
    <form>
        Drug log:
        <input type="text" class="form-control" placeholder="What drugs have you taken?" name="druglogitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve druglog Item #3 -->
<template name="druglogItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{druglogitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-druglogitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve druglog Item #3 -->

<!-- Start of Add ingredientinventory Item #2 -->

<template name="addingredientinventoryItem">
    <form>
        Ingredient Inventory:
        <input type="text" class="form-control" placeholder="What ingredients is in your inventory?" name="ingredientinventoryitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve ingredientinventory Item #3 -->
<template name="ingredientinventoryItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{ingredientinventoryitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-ingredientinventoryitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve ingredientinventory Item #3 -->

<!-- Start of Add shoppinglist Item #2 -->

<template name="addshoppinglistItem">
    <form>
        Shopping List:
        <input type="text" class="form-control" placeholder="What do you want to add to your shopping list?" name="shoppinglistitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve shoppinglist Item #3 -->
<template name="shoppinglistItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{shoppinglistitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-shoppinglistitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve shoppinglist Item #3 -->

<!-- Start of Add menu Item #2 -->

<template name="addmenuItem">
    <form>
        Menu:
        <input type="text" class="form-control" placeholder="What can you add to your menu? What can you cook?" name="menuitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve menu Item #3 -->
<template name="menuItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{menuitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-menuitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve menu Item #3 -->

<!-- Start of Add menuplan Item #2 -->

<template name="addmenuplanItem">
    <form>
        Menu Plan:
        <input type="text" class="form-control" placeholder="What is your menu plan?" name="menuplanitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve menuplan Item #3 -->
<template name="menuplanItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{menuplanitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-menuplanitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve menuplan Item #3 -->

<!-- Start of Add improveFoodpage Item #2 -->

<template name="addimproveFoodpageItem">
    <form>
        Improve Food Page:
        <input type="text" class="form-control" placeholder="How can we improve the Food page?" name="improveFoodpageitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve improveFoodpage Item #3 -->
<template name="improveFoodpageItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{improveFoodpageitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-improveFoodpageitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve improveFoodpage Item #3 -->

