<!--
  <div class="container">
    <div class="row">
    <strong>mission</strong>
    {{#each drmissionlooper}}
      {{> drmissionloader}}
    {{/each}}
    </div>
  </div>
<hr>



  <!-- DR mission Log Loader Temaplate --

<template name="drmissionloader">
 <div class="container">   
  <div class="row">
        <label class="col-sm-2 control-label"> <br><a href="" class="delete-drmissionitem" style="background: white; border-radius: 5px;"> Delete </a></label> 
        <div class="col-sm-8">
          <textarea class="form-control" rows="2" value="{{mission}}" name="drmissionItem"></textarea>
        </div>
    </div>
 </div>   
</template>


-->



