<template name="createEvent">
    <div class="modal fade in" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form id="new-event">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-info">Create Event</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="title" placeholder="Add new Event"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        
<div class="col-sm-12">
    <div class="input-group">
        <input type="text" class="input-sm form-control col-md-12" name="daterangeStart" value="11/17/2017 1:30 PM" id="start"/>
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control col-md-12" name="daterangeEnd" value="11/17/2017 2:30 PM" id="end"/>
    </div>
</div>


                                        <input type="hidden" id="apptAllDay"/>
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="4" name="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="public-item btn btn-primary">Create Event</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</template>