<template name="fitPage">
	<h1>Fitness & Exercise</h1>
<!-- Start of fitnesslog Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputfitnesslog">
	Fitness Log</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addfitnesslogItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsefitnesslog" aria-expanded="false" aria-controls="collapsefitnesslog">
    			Fitness Log 
  					</button>
			</p>
				<div class="collapse" id="collapsefitnesslog">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each fitnesslogEach}}
								{{> fitnesslogItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of fitnesslog card #1 -->

<!-- Start of fitnessprogram Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputfitnessprogram">
	Fitness Program</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addfitnessprogramItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsefitnessprogram" aria-expanded="false" aria-controls="collapsefitnessprogram">
    			Fitness Program 
  					</button>
			</p>
				<div class="collapse" id="collapsefitnessprogram">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each fitnessprogramEach}}
								{{> fitnessprogramItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of fitnessprogram card #1 -->

<!-- Start of improveFitpage Card #1-->


<div class="panel-primary col-sm-6">
	<div class="panel-heading2" for="inputimproveFitpage">
	Improve Fitness Page</div>

<div class="list-group">
			<ul class="list-group-item">
			{{> addimproveFitpageItem}}
	<p></p>	 
  			<p>
  					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseimproveFitpage" aria-expanded="false" aria-controls="collapseimproveFitpage">
    			Improve Fitness Page 
  					</button>
			</p>
				<div class="collapse" id="collapseimproveFitpage">
					<div class="list-group">
							<ul class="list-group-item">
  						{{#each improveFitpageEach}}
								{{> improveFitpageItem}}
  						{{/each}}
  						</ul>
					</div>
				</div>	
			</ul>
	</div>
</div>


<!-- End of improveFitpage card #1 -->


</template>








<!-- Start of Add fitnesslog Item #2 -->

<template name="addfitnesslogItem">
    <form>
        Fitness & Exercise Log:
        <input type="text" class="form-control" placeholder="Did you do some form of exercise today?" name="fitnesslogitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve fitnesslog Item #3 -->
<template name="fitnesslogItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{fitnesslogitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-fitnesslogitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve fitnesslog Item #3 -->

<!-- Start of Add fitnessprogram Item #2 -->

<template name="addfitnessprogramItem">
    <form>
        Fitness Program:
        <input type="text" class="form-control" placeholder="Add to your fitness program" name="fitnessprogramitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve fitnessprogram Item #3 -->
<template name="fitnessprogramItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{fitnessprogramitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-fitnessprogramitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve fitnessprogram Item #3 -->

<!-- Start of Add improveFitpage Item #2 -->

<template name="addimproveFitpageItem">
    <form>
        Improve this Fitness Page:
        <input type="text" class="form-control" placeholder="How can we improve the Fitness page?" name="improveFitpageitemName">
    </form>
</template>

<!-- End of Add Keyword Item #2 -->

<!-- Start of Retrieve improveFitpage Item #3 -->
<template name="improveFitpageItem"> 

  <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <div class="row">
                <div class="col-sm-10">
                    <a type="button" href="#" class="update">{{improveFitpageitemName}}</a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-default delete pull-right"><span class="delete-improveFitpageitem glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                </div>
            </div>
        </h4>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>

<!-- End of Retrieve improveFitpage Item #3 -->

